@charset "utf-8";
@import "./font/font.css"; /* font-family: 'NanumSquare', sans-serif; } */

*{margin:0; padding: 0;}

:root{
    --main-color:#333;
    --color-white:#fff;
    --main-title:#444;
    --main-text:#777;    
}

/* a 태그 초기화 */
a{color:var(--main-color)}
a:hover,a:active,a:visited,a:link{color:var(--main-color); text-decoration: none;}


/* li,ol 초기화 */
ol,li{list-style: none;}

body{font-family: 'NanumSquare', sans-serif;}



/* 네비게이션 */
.nav{
    position:absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 120px;
}


/* GNB*/
.logo{margin-top: 20px;}

.menu{
    float: right
}
.menu::after{
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
.menu li{
    float: left;
    height: 120px;
    line-height: 120px;
    padding: 0px 24px;
}
.menu li a{
    font-size: 20px;
    color:var(--color-white);
    font-weight: bold;
}



/* sec01 */
.sec_01{
    background-image: url(/images/main/visualIMG.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_title{
    text-align: center;
}
.main_title>h1{
    font-size: 100px;
    color: var(--color-white);
    font-weight: 900;
}
.main_title>p{
    font-size: 24px;
    color:var(--color-white);
}





/* main bg*/
.main_bg{
    background-image: url(/images/main/main_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 4000px;
    height: 3000px;
    position: absolute;
    z-index: -1;
    top:-180px;
    left: -1000px;
}



/* main bg*/




/* sec02 , sec03 */
.sec_02_textbox{
    position: relative;
    bottom: 100px;
}
.sec_02_textbox>h1{
    font-size: 100px;
    line-height: 1.1;
    font-weight: 900;
}
.sec_02_textbox>em{
    font-style: normal;
    font-size: 40px;
}
.sec_02_textbox>p{
    font-size: 18px;
    margin-top: 35px;
}

.sec_02_imgbox{
    text-align: center;
}
.sec_02_imgbox>img{
    padding: 10px;
    width:300px;
}
.sec_02_imgbox>img:nth-child(1){
    position: relative;
    top:250px;
}
.sec_02_imgbox>img:nth-child(2){
    position: relative;
    top:110px;
}


/* sec_03 */
.sec_03_textbox{
    position: relative;
    top:75px;
    text-align: right;
}

.sec_03_textbox>h1{
    font-size: 100px;
    line-height: 1.1;
    font-weight: 900;
}
.sec_03_textbox>em{
    font-style: normal;
    font-size: 40px;
}
.sec_03_textbox>p{
    font-size: 18px;
    margin-top: 35px;
    text-align: left;
}

.sec_03_imgbox{
    position: relative;
    top:75px;
}

.sec_03_imgbox>img{
    padding: 10px;
}
.sec_03_imgbox>img:nth-child(2){
    position: relative;
    left: 132px;
}
.sec_03_imgbox>img:nth-child(3){
    position: relative;
    left: 45px;
}