

/* 768 ~ 992 디바이스  */
@media (min-width:768px) and (max-width : 992px) {
    
        
    /* visual title 영역 */
    .title{width:100%;}
    .title>p{font-size: 16px;}




}

/* 767 이하 디바이스  */
@media (max-width : 767px) {


    /* visual title 영역 */
    .title{width:70%;}
    .title>h1{font-size: 26px;}
    .title>p{font-size: 12px;}


    /* Nav */
    .tab_nav>ul>li>a{font-size: 18px;}



    /* contWarp*/
    .phone_title>h1{font-size: 26px;}
    .phone_sec01{margin-top: 75px;}

    .phone_typeAll>h2{font-size: 20px;}
    .phone_type>ul>li{font-size: 12px;}
    .phone_type>p{font-size: 12px;}



    /* sec02 */
    .phone_sec02>h2{font-size:20px; font-weight: bold;}


    /*sec03 */
    .phone_sec03{margin-top: 60px;}
    .phone_sec03>h2{font-size: 20px;}
    .phone_sec03>p{font-size: 12px;}


}