

/* 768 ~ 992 디바이스  */
@media (min-width:768px) and (max-width : 992px) {
    
        
    /* visual title 영역 */
    .title{width:100%;}
    .title>p{font-size: 16px;}

    /* contWarp */
    .con_text>div{
        transform: none;
        padding: 24px 0px;
    }
}

/* 767 이하 디바이스  */
@media (max-width : 767px) {


    /* visual title 영역 */
    .title{width:70%;}
    .title>h1{font-size: 26px;}
    .title>p{font-size: 12px;}


    /* Nav */

    .tab_nav>ul>li>a{font-size: 18px;}


    /* contWarp */
    .contWarp{margin-top: 42px;}

    .con_title>h1{
        font-size: 22px;
    }
    .con_text>div{
        transform: none;
        padding: 24px 0px;
    }
   

    .con_flex{justify-content: center;}

    .con_text>div>strong{font-size: 20px;}
    .con_text>div>p{font-size: 12px;}




    /* sec02 */
    .con_sec02>h2{ font-size: 20px;}

}