@media (max-width : 1199px) {
    .mail>label>input{width:70%;}
}

/* 768 ~ 992 디바이스  */
@media (min-width:768px) and (max-width : 992px) {
    
        
    /* visual title 영역 */
    .title{width:100%;}
    .title>p{font-size: 16px;}


    /* email input */
    .mail>label>input{width:60%;}

}

/* 767 이하 디바이스  */
@media (max-width : 767px) {


    /* visual title 영역 */
    .title{width:70%;}
    .title>h1{font-size: 26px;}
    .title>p{font-size: 12px;}


    /* Nav */
    /* .tab_nav>ul>li>a{font-size: 18px;} */


    /* contWrap */
    .contWarp{margin-top: 42px;}
    /* .title-01{margin: 0;} */

    .mail_icon{width:22px; left: 6%;}
    .mail>label{
        font-size: 12px;
        height: 44px;
        line-height: 44px;
        padding-left: 11%;
    }
    .mail>label>input{
        width:60%;
        font-size: 12px;
        height: 42px; line-height: 44px;
    }
   
}