/* 사이드 메뉴 overflow 발생 */
.visual{overflow: hidden;}     
ul{margin: 0;}  /* 부트스트랩에 있는 마진삭제 */

/* section visual */
.visual{position: relative;}
.visual>img{
    width:100%;
}
.title{
    position: absolute;
    top:0;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title>h1{
    font-size: 80px;
    font-weight: 900;
    color:white;
}
.title>p{
    font-size: 24px;
    color:white;
}



/* tab_nav */
.tab__nav{background-color: #5587E7;}
.tab_nav>ul{
    display: flex;
    height: 56px;
    line-height: 56px;
}
.tab_nav>ul>li{
    width:100%;
    text-align: center;
}
.tab_nav>ul>li:nth-child(2){background-color: white;}
.tab_nav>ul>li:nth-child(2){border-left: 1px solid white; border-right: 1px solid white;}

.tab_nav>ul>li>a{
    display: block;
    font-size: 24px;
    font-weight: 900;
}
.tab_nav>ul>li:nth-child(1)>a{color:white;}
.tab_nav>ul>li:nth-child(2)>a{color:#000;}
.tab_nav>ul>li:nth-child(3)>a{color:white;}



/* section contWarp */

.contWarp{
    margin-top: 100px;
}

.title-01{margin-bottom: 44.5px;}

.title-01>h1{
    font-size: 50px;
    font-weight: 900;
}

.ci_img{text-align: center;}
.ci_img>img{width:100%;}

.ci_box{margin-bottom: 100px; overflow: hidden;}

.ci_text>em{
    font-style: normal;
    font-size: 34px;
    font-weight: 900;
}
.ci_text>p{
    font-size: 22px;
    margin-top: 20px;
}



/* ci_color */
.ci_color{margin-bottom: 100px; overflow: hidden;}
.ci_color>div>em{
    font-size: 20px;
    font-style: normal;
    display: block;
    margin-top: 16px;
    margin-bottom: 12px;
}
.ci_color>div>p{
    font-size: 18px;
    padding: 26px;
    text-align: center;
}

.color_pick{
    width:100%; height: 130px;
    text-align: center;
}
.color_pick>p{
    font-weight: 900;
    font-size: 24px;
    line-height: 130px;
    color:white;
}

.ci_color>div:nth-child(1) .color_pick{background-color: #5587E7;}
.ci_color>div:nth-child(2) .color_pick{background-color: #82aef4;}
.ci_color>div:nth-child(3) .color_pick{background-color: #FFD629;}

